.row{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 2rem;
  max-width: 100%; 
}

.row input{
  width: 100%;
  box-sizing: border-box;
    border: none;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px  rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgb(22, 21, 21);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-bottom: 0.5rem;
  color: rgba(7, 0, 0, 0.9);
}
